/* COLS CLASSES */
.col-1 {
  width: 8.33%
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*  */
.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

/* WIDTH CLASSES */
.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.w-5 {
  width: 41.66%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33%;
}

.w-8 {
  width: 66.66%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33%;
}

.w-11 {
  width: 91.66%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding: 0 var(--gutter-width);
}

/* FONT WIGHT CLASSES */
.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

/* INLINE-BLOCK */
.inline-block {
  display: inline-block;
}

/* INLINE */
.inline {
  display: inline;
}

/* BLOCK */
.block {
  display: block;
}

/* RELATIVE */
.p-relative {
  position: relative;
}

/* ABSOLUTE */
.p-absolute {
  position: absolute;
}

/* IMAGE */
img {
  display: block;
  max-width: 100%;
}

/* ROW */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* FLOAT */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* DISPLAY FLEX */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-rowrev {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-columnrev {
  flex-direction: column-reverse;
}

/* JUSTIFY-CONTENT */
.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* ALIGN ITEMS */
.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/* ALIGN CONTENT */
.align-c-start {
  align-content: flex-start;
}

.align-c-end {
  align-content: flex-end;
}

.align-c-center {
  align-content: center;
}

.align-c-between {
  align-content: space-between;
}

.align-c-around {
  align-content: space-around;
}

.align-c-evenly {
  align-content: space-evenly;
}

/* TEXT ALIGN */
.txt-cen {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.bdr {
  border: 2px solid red;
}

a {
  text-decoration: none;
}

.mag-24 {
  margin-bottom: 24px;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

/* active classes */
.dd-icon-ac,
.as-content-ac {
  display: none;
}

.d-n {
  display: none;
}

/* ----------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: 'poppins';
}

:root {
  --blue: #5e72e4;
  --indigo: #6610f2;
  --purple: #BB6BD9;
  --pink: #e83e8c;
  --red: #EE3232;
  --orange: #ff9900;
  --yellow: #FFFA6F;
  --green: #297F00;
  --teal: #20c997;
  --cyan: #3065D0;
  --white: #fff;
  --gray: #6c757d;
  --border: rgba(179, 179, 179, 0.5);
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #0D99FF;
  --secondary: #2C2C2C;
  --header-bg: #2C2C2C;
  --success: #3AC977;
  --info: #58bad7;
  --warning: #FF9F00;
  --danger: #FF5E5E;
  --light: #c8c8c8;
  --dark: #6e6e6e;
  --black: #000000;
  --dark-theme: #1e1e1e;
  --primary-rgb: 13, 153, 255;
  --secondary-rgb: 44, 44, 44;
  --success-rgb: 58, 201, 119;
  --info-rgb: 88, 186, 215;
  --warning-rgb: 255, 159, 0;
  --danger-rgb: 255, 94, 94;
  --light-rgb: 200, 200, 200;
  --dark-rgb: 110, 110, 110;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --body-color-rgb: 136, 136, 136;
  --body-bg-rgb: 245, 245, 245;
  --sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --poppins: poppins, sans-serif, sans-serif;
  --body-font-size: 0.875rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #888888;
  --gutter-width: 12px;

  --secondary-dark: #131313;
  --primary-hover: #007ed9;
  --primary-dark: #004373;
  --rgba-primary-1: rgba(13, 153, 255, 0.1);
  --rgba-primary-2: rgba(13, 153, 255, 0.2);
  --rgba-primary-3: rgba(13, 153, 255, 0.3);
  --rgba-primary-4: rgba(13, 153, 255, 0.4);
  --rgba-primary-5: rgba(13, 153, 255, 0.5);
  --rgba-primary-6: rgba(13, 153, 255, 0.6);
  --rgba-primary-7: rgba(13, 153, 255, 0.7);
  --rgba-primary-8: rgba(13, 153, 255, 0.8);
  --rgba-primary-9: rgba(13, 153, 255, 0.9);
  --rgba-secondary-1: rgba(44, 44, 44, 0.1);
  --rgba-secondary-2: rgba(44, 44, 44, 0.2);
  --rgba-secondary-3: rgba(44, 44, 44, 0.3);
  --rgba-secondary-4: rgba(44, 44, 44, 0.4);
  --rgba-secondary-5: rgba(44, 44, 44, 0.5);
  --rgba-secondary-6: rgba(44, 44, 44, 0.6);
  --rgba-secondary-7: rgba(44, 44, 44, 0.7);
  --rgba-secondary-8: rgba(44, 44, 44, 0.8);
  --rgba-secondary-9: rgba(44, 44, 44, 0.9);
  --font-family-base: poppins, sans-serif, sans-serif;
  --font-family-title: poppins, sans-serif, sans-serif;
  --title: #374557;

  /* new */
  --white-hover: #fff;
  --input-form: #464646;
  --msg: #3e3e3e;
  --hamburger: #212529;
  --aside-text: #b3b3b3;
  --bor-grey: rgb(103, 103, 103);
  --calander: rgba(49, 49, 49, 0.5);
  --aside-bg: #212529;
  --setting: rgb(116, 116, 255);
}

body {
  background-color: var(--dark-theme);
}

.container {
  margin: 0 auto;
  width: 1320px;
}

/* header-right */
.header-r {
  width: 100%;
  height: 100%;
  background-color: var(--header-bg);
  padding: 10px 0px 10px 15rem;
  z-index: 99;
  position: sticky;
  top: 0;
  color: #fff;
}

.hdr-r-ac {
  padding-left: 5rem;
}

.hdr-content {
  height: 100%;
  padding-left: 3.1rem;
  padding-right: 1.075rem;
}

.nav-c2 {
  position: absolute;
  left: 35%;
  top: 30%;
  font-size: 20px;
  color: #fff;
  display: none;
}

.x-mark {
  padding-top: 2px;
}

/* header-left */
.hdr-left {
  height: 100%;
  background-color: var(--input-form);
  border-radius: 7px;
  margin-top: 2px;
}

.hdr-left .input {
  position: relative;
  display: flex;
  align-items: stretch;
  padding: 0.3rem;
}

.navbar-in {
  padding-left: 3rem;
}

.hdr-left .input .search {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.hdr-input {
  background-color: var(--input-form);
  border: none;
  color: var(--gray-500);
  font-size: 1rem;
  padding-right: 2.3rem;
}

.hdr-input::placeholder {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.hdr-right {
  flex-direction: row;
}

/* RIGHT HEADER */

.nav-link {
  font-size: 22px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.hdr-right .l-out {
  padding: 8px 1rem;
  margin: 0px 15px;
  font-size: 12px;
  background-color: var(--primary);
  border-radius: 7px;
  color: #fff;
}

.hdr-info .img {
  width: 35px;
  position: relative;
}

.hdr-info .img img {
  object-fit: contain;
  border-radius: 50%;
}

.hdr-info .info {
  font-size: 11px;
  padding: 0 20px 0 10px;
  font-weight: 300;
}

.hdr-info .info .iname {
  font-size: 13px;
  font-weight: 600;
}

/* aside */
.aside {
  width: 15rem;
  padding-bottom: 10px;
  padding-top: 1rem;
  background-color: var(--aside-bg);
  height: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  overflow-y: scroll;
  border-right: 1px solid var(--border);
}

.asi-active {
  width: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.scroll-aside {
  position: relative;
  height: 100%;
}

.aside::-webkit-scrollbar {
  width: 5px;
}

.aside::-webkit-scrollbar-thumb {
  background-color: var(--gray-800);
  border-radius: 5px;
}

.ur-cm {
  color: var(--primary);
  font-family: 'poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 10px 15px;
}

.as-li {
  padding: 3px;

}

/* .........................................aside acordian....................................................... */

.as-set {
  padding: 3px
}

.as-set>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.2s linear;
  color: var(--aside-text);

}

.set-text i {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 100;
  color: var(--aside-text);
}

.pad-none {
  padding: 0 !important;
}

.nav-text {
  font-weight: 400;
  font-size: 13px;
}

.as-content {
  display: none;
}

.as-content a {
  color: var(--aside-text);
  font-size: 12px;
}

.b-line {
  background-color: var(--white);
  width: 5px;
  height: 1px;
  border-radius: 5px;
}

.asz {
  position: relative;
  left: 10%;
}

.asz::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 0.125rem;
  top: calc(50% - 0.125rem);
  left: -10px;
  background-color: var(--white);
}

.as-content li {
  list-style: none;
  padding: 10px;
}

/* ********************************* aside accordian end ************************************ */


.as-li a {
  display: flex;
  align-items: center;
  color: var(--aside-text);
  padding: 10px 15px;
}

.as-li .as-icons {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 100;
}

.as-ico {
  padding: 0px !important;
}

.as-li-ac i {
  padding-right: 0 !important;
}


.nav-text {
  font-weight: 300;
  font-size: 13px;
}

.aside span {
  transition: 0.3s all ease;
}

.as-new::after {
  content: "NEW";
  font-size: 8px;
  background-color: var(--red);
  color: #fff;
  width: 20px;
  height: 10px;
  padding: 2px 5px;
  border-radius: 7px;
  margin-left: 10px;
}

.as-li:hover span {
  color: var(--white-hover);
}

.as-set:hover span {
  color: var(--white-hover);
}

.as-li .as-drop {
  float: right;
}

/* logo header */
.logo-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 15rem;
  height: 60px;
  padding: 30px 20px;

}

.logo-header-ac {
  padding: 0 5px !important;
  width: 3.75rem;
}

.logo-header a {
  height: 100%;
}

.brand-title {
  margin: 3px 0px 0px 10px;
}

.nav-control {
  position: absolute;
  right: -3rem;
  top: 0;
  height: 3.063rem;
  width: 3.063rem;
  background-color: var(--hamburger);
  border-radius: 5px;
  margin: 10px 0;
}

.nav-control .lines {
  position: relative;
  width: 1.625rem;
}

.nav-control .lines .line,
.line1,
.line2 {
  display: block;
  height: 1px;
  width: 20px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.5s all ease;
}

.setting-box {
  z-index: 99;
}

.settings-btn {
  position: absolute;
  background-color: var(--setting);
  top: 50%;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  z-index: 101;
  border-radius: 5px 0px 0px 5px;
}

.settings-btn i {
  color: #fff;
  font-size: 25px;
}

.set-in {
  animation: settings 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes settings {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.setting-box {
  position: fixed;
  top: 7.95rem;
  right: 0;

}

.setting-box .main-box {
  position: relative;
  display: none;
  top: 0;
  right: 0;
  background-color: var(--setting);

}

.setting-box .main-box {
  padding: 30px 50px;
  border-radius: 20px 0 0 20px;
  position: relative;
}

.setting-box .main-box .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
}

.setting-box .main-box .reset {
  color: #fff;
  text-align: center;
  font-size: 20px;
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
  padding: 15px;
  border-radius: 30px;
  margin-top: 20px;
  letter-spacing: 5px;
}

.setting-box .main-box .close i {
  font-size: 35px;
  color: #fff;
}

.dkmd {
  width: 160px;
  height: 60px;
  border-radius: 30px;
  background: linear-gradient(30deg, rgb(0, 3, 16) 0%, rgb(104, 26, 168));
  margin: 10px 0;
}

.limd {
  width: 160px;
  height: 60px;
  border-radius: 30px;
  background: linear-gradient(30deg, rgb(235, 173, 255) 0%, rgb(202, 255, 254));
  margin: 10px 0;
}

.limd h2 {
  color: #000000;
  font-weight: 500;

}


.dkmd h2 {
  color: #ffffff;
  font-weight: 500;

}

.setting-box .main-box .c-theme {
  padding: 20px 0;
}

.setting-box .main-box .c-theme .tlt {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

.setting-box .main-box .c-theme .c-pal {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 10px;
}

.blue {
  background-color: #3250ff;
}

.green {
  background-color: #18A594;
}

.green2 {
  background-color: #88a67e;
}

.sky {
  background-color: #40a7e2;
}

.purple {
  background-color: #B65FBD;
}

.red {
  background-color: #c6164f;
}

/* page-rea */
.page-area {
  padding-left: 15rem;
  width: 100%;
}

.page-area-ac {
  padding-left: 3rem;
}

.page-title {
  padding: 10px 30px;
  color: var(--white);
  background-color: var(--gray-900);
  border-bottom: 1px solid var(--border);
}

.page-title .head {
  font-size: 18px;
  padding-right: 20px;
}

.page-title span {
  font-size: 16px;
}

.page-title .side {
  color: var(--cyan);
}

.rft a {
  color: var(--white);
}

/* page - content */

/* grid */
.page-content {
  padding: 1.875rem;
  display: grid;
  grid-gap: 24px;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(16, 1fr);
}

.c-area1,
.c-area2,
.c-area3,
.c-area4 {
  grid-column: span 3;
  grid-row: span 1;
}

.c-area5 {
  grid-column: span 4;
  grid-row: span 3;
}

.c-area6,
.c-area8,
.c-area9 {
  grid-column: span 8;
  grid-row: span 2;
}

.c-area6 {
  overflow: hidden;
}

.c-area7 {
  grid-column: span 4;
  grid-row: span 2;
  overflow-y: scroll;
  background-color: var(--gray-900);
  border: 1px solid var(--bor-grey);
  border-radius: 10px;
}

.c-area7::-webkit-scrollbar {
  display: none;
}

.c-area10 {
  grid-column: span 5;
  grid-row: span 3;
}

.c-area11 {
  grid-column: span 7;
  grid-row: span 3;
}

.c-area12 {
  grid-column: span 4;
  grid-row: span 3;
  overflow: hidden;
}

.c-area13 {
  grid-column: span 4;
  grid-row: span 2;
}

.c-area14 {
  grid-column: span 12;
  grid-row: span 2;
}



/* ............................................................................................ */
.page-content .t1-up .upper {
  padding: 18px 20px 0px 20px;
}

.page-content .t1-up .upper h6 {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
}

.page-content .t1-up .upper h3 {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 500;
}

.page-content .t1-up .upper i {
  color: var(--cyan);
  font-size: 20px;
  background-color: var(--rgba-primary-1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.page-area .t1-up {
  padding: 0;
}

.page-content .t1-up .icon3 i {
  color: var(--red);
  background-color: rgba(255, 94, 94, 0.05);
}

.pg-box-bg {
  background-color: var(--gray-900);
  border: 1px solid var(--bor-grey);
  border-radius: 10px;
}

.t1-up {
  margin-bottom: 24px;
}

.t1-down .upp h3 {
  text-align: center;
  color: var(--white);
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 20px;
}

.t1-down .down .txt-cen {
  width: 25%;
  border-right: 1px solid var(--bor-grey);
  border-top: 1px solid var(--bor-grey);
  padding: 15px;
}

.t1-down .down .txt-cen:nth-child(4) {
  border-right: none;
}

.t1-down .down .h {
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
}

.t1-down .down .p,
.p2,
.p3,
.p4 {
  color: var(--aside-text);
  font-weight: 400;
  font-size: 14px;
}

.t2-down .upp {
  padding: 20px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

.t2-down .upp .h {
  color: var(--white);
  font-weight: 500;
}

.t2-down .upp .p,
.p2 {
  color: var(--white);
  font-weight: 500;
}

.t2-down .upp .p2 {
  padding-left: 10px;
}

.t2-down .lists .h {
  color: var(--white);
  font-weight: 400;
  padding: 10px 0px;
}

.t2-down .lists .icon {
  color: var(--red);
  padding: 7px;
  background-color: rgba(255, 94, 94, 0.05);
  border-radius: 5px;
}

.t2-down .lists .inner {
  border-bottom: 1px solid var(--bor-grey);
}

.t2-down .lists .inner:last-child {
  border: none;
}

.t2-down .li {
  padding: 10px 20px;
}

.t2-down .lists .icon2 {
  color: var(--blue);
  padding: 7px;
  background-color: var(--rgba-primary-1);
  margin-left: 5px;
  border-radius: 5px;
}

.t2-down .li .d-t {
  color: var(--gray);
}

.t2-down .lists .alert {
  color: var(--orange);
  padding: 5px 0px;
}

.t2-down .lists .alert .l-h {
  padding: 0px 5px;
}

.t2-down .lists .alert2 {
  color: var(--success);
  padding: 5px 0px;
}

.t2-down .lists .alert2 .l-h {
  padding: 0px 5px;
}


.t2 .pg-box-bg {
  padding: 20px;
}

.t2 .p {
  color: var(--white);
  font-weight: 500;
}

.t2 .h {
  color: var(--white);
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
  padding: 30px 0px;
}

/* map  */
.c-area9 .map {
  height: 100%;
}

.c-area9 .map .w-8 {
  padding: 12px;
  border-right: 1px solid var(--bor-grey);
}

.c-area9 .map .w-4 {
  padding: 0px 10px;
  overflow-y: scroll;
  margin: 25px 0px;
}

.c-area9 .map .coun .li {
  padding: 18px 0px;
  border-bottom: 1px solid var(--bor-grey);
}

.c-area9 .map .coun .li .flag {
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.c-area9 .map .coun .li .up {
  width: 100%;
  color: var(--white);
  position: relative;
}

.c-area9 .map .coun .li .up::after {
  position: absolute;
  content: '';
  width: 100%;
  background-color: var(--dark-theme);
  height: 7px;
  border-radius: 5px;
  top: 70%;
  z-index: 0;
}

.c-area9 .map .coun .li .up::before {
  position: absolute;
  content: '';
  width: 50%;
  background-color: var(--blue);
  height: 7px;
  border-radius: 5px;
  top: 70%;
  z-index: 1;
}

.c-area9 .map .coun .li:nth-child(2) .up::before {
  width: 75%;
}

.c-area9 .map .coun .li:nth-child(3) .up::before {
  width: 20%;
}

.c-area9 .map .coun .li:nth-child(4) .up::before {
  width: 55%;
}

.c-area9 .map .coun .li:nth-child(5) .up::before {
  width: 40%;
}

.c-area9 .map .coun .li:nth-child(6) .up::before {
  width: 25%;
}

.c-area9 .map .coun .li:nth-child(7) .up::before {
  width: 80%;
}

.c-area9 .map .coun .li:nth-child(8) .up::before {
  width: 5%;
}



/* charts */

#chartdiv {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* *********************************************************** */
.brd {
  background-color: var(--gray-900);
  border: 1px solid var(--bor-grey);
  border-radius: 10px;
}

/* page - loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-theme);
  z-index: 999;
}

.c-core {
  height: 100%;
  width: 100%;
  background-color: var(--dark-theme);
  border-radius: 50%;
}

h1 {
  color: var(--gray-100);
  font-size: 50px;
  font-weight: 500;
  position: absolute;
}

.c-outter,
.c-outter2,
.c-outter3 {
  position: absolute;
  height: 300px;
  width: 300px;
  border: 3px solid #008bfc;
  border-radius: 50%;
  animation: atom 1s linear infinite;
}

.c-outter2 {
  animation: atom2 1s linear infinite;
  border: 3px solid #0037fc;
}

.c-outter3 {
  animation: atom3 1s linear infinite;
  border: 3px solid #8600fc;
}

@keyframes atom {

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes atom2 {

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes atom3 {

  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}

/*  */
.c-area8 .upp {
  padding: 10px 20px;
}

.c-area8 .upp h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
}

.c-area8 .upp .expo {
  background-color: var(--rgba-primary-1);
  padding: 10px;
  font-size: 14px;
  color: var(--primary);
  border-radius: 5px;
}

.c-area8 .upp .expo i {
  padding-right: 5px;
}

.c-area8 .mid {
  padding: 10px 20px;
  background-color: var(--dark-theme);
}

.c-area8 .mid .t {
  color: var(--white);
}

.c-area8 .mid .t i {
  padding-left: 5px;
}

.c-area8 .down {
  width: 100%;
  overflow-x: auto;
}

tbody td img {
  width: 30px;
  border-radius: 50%;

}

.t-ble {
  width: 100%;
  margin: auto;
}

thead th {
  background-color: var(--dark-theme);
}

thead .innn {
  padding: 10px 0;
}

thead .innn1 {
  padding-left: 20px;
}

thead .innn-l {
  padding: 0 20px;
}

tbody {
  color: var(--white);
}

tbody tr {
  margin: 10px 0;
}

tbody .assi img:nth-child(2) {
  margin-left: -10px;
}

tbody .assi img:nth-child(3) {
  margin-left: -10px;
}

.c-area8 .down::-webkit-scrollbar {
  height: 5px;
  background-color: var(--primary);
  padding: 0 20px;
}

.c-area8 .t-ble thead tr th {
  color: var(--white);
  font-weight: 400;
}

.c-area8 .t-ble thead tr th i {
  padding-left: 7px;
}

.c-area8 .t-ble .p-bar {
  width: 100px;
  margin-right: 10px;
  accent-color: var(--blue);
}

.c-area8 tbody tr:nth-child(2) .p-bar {
  accent-color: var(--red);
}

.c-area8 tbody tr:nth-child(3) .p-bar {
  accent-color: var(--red);
}

.c-area8 tbody tr:nth-child(4) .p-bar {
  accent-color: var(--success);
}

.c-area8 tbody tr:nth-child(6) .p-bar {
  accent-color: var(--red);
}


.c-area8 .t-ble .p-name img {
  margin: 10px;
}

.c-area8 .t-ble .in-pro {
  color: var(--primary);
  background-color: var(--rgba-primary-1);
  padding: 5px 10px;
  border-radius: 3px;
}

.c-area8 tbody tr:nth-child(2) .in-pro {
  color: var(--red);
  background-color: rgba(255, 94, 94, 0.15);
  ;
  padding: 5px 10px;
  border-radius: 3px;
}

.c-area8 tbody tr:nth-child(3) .in-pro {
  color: var(--red);
  background-color: rgba(255, 94, 94, 0.15);
  padding: 5px 10px;
  border-radius: 3px;
}

.c-area8 tbody tr:last-child .in-pro {
  color: var(--red);
  background-color: rgba(255, 94, 94, 0.15);
  padding: 5px 10px;
  border-radius: 3px;
}

.c-area8 tbody tr:nth-child(4) .in-pro {
  color: var(--success);
  background-color: rgba(58, 201, 119, 0.1);
  padding: 5px 10px;
  border-radius: 3px;
}

/* c-area10 */
.c-area10 {
  padding: 20px;
}

.c-area10 .upp {
  padding-bottom: 30px;
}

.c-area10 .upp .h {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 400;
}

.c-area10 .upp .ico {
  color: var(--primary);
  font-size: 1.05rem;
  font-weight: 400;
}

.c-area10 .upp .ico i {
  padding-right: 5px;
}

.c-area10 .f-chat .m-ava {
  height: 35px;
  width: 35px;
  display: inline-block;
  position: relative;
  object-fit: cover;
  border-radius: 0.375rem;
  vertical-align: middle;
}

.c-area10 .f-chat .m1 {
  padding-left: 10px;
  align-items: flex-start;
  position: relative;
}

.c-area10 .f-chat .m1 .msg {
  color: var(--white);
  padding: 10px;
  background-color: var(--secondary-dark);
  margin: 0px 0px 7px;
  border-radius: 0px 7px 7px 7px;
}

.c-area10 .f-chat .m1:after {
  content: '12:45 PM';
  position: absolute;
  top: 100%;
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
}

.c-area10 .day {
  margin: 0px auto;
  padding: 20px;
  color: var(--gray-500);
  font-weight: 500;

}

.c-area10 .m2 {
  padding-left: 10px;
  align-items: flex-end;
  position: relative;
  margin-bottom: 20px;
}

.c-area10 .m2 .msg {
  color: var(--white);
  padding: 10px;
  background-color: var(--msg);
  margin: 0px 0px 7px;
  border-radius: 7px 7px 0px 7px;
  display: inline-block;
}

.c-area10 .m2 .msg span {
  display: block;
  float: right;
  clear: both;
}

.c-area10 .m2::after {
  content: '10:00 AM';
  position: absolute;
  top: 100%;
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
}

.c-area10 .sen-txt {
  margin-top: 10%;
  position: relative;
}

.c-area10 .sen-txt input[type=text] {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  background-color: var(--secondary-dark);
  color: var(--white);
  border-radius: 10px;
}

.sen-txt .button {
  position: absolute;
  color: var(--white);
  background-color: var(--primary);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  right: 10px;
  top: 13px;
}


/* calender */
.calendar {
  padding: 25px;
  border-radius: 10px;
  background-color: var(--calander);
  font-size: 16px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.month,
.year {
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0px 7px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(44, 44, 44, 0.3);
  color: white;
}

option {
  font-weight: regular;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0px;
  background-color: var(white);
  color: var(black);
}

.week {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.week__day {
  color: var(--black);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.date__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 5px 0px;
}

.date__number {
  margin: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: 0.5s ease;
}

.date__number:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.date__number--true {
  background-color: var(--black);
  color: var(--white);
}

.choosen {
  text-align: center;
  margin-top: 40px;
  color: gray;
}

:root {
  --calen-bg: url(../images/calender-bg.webp);

}

.c-area12 {
  background-image: var(--calen-bg);
  background-size: cover;
}

.tttt h3 {
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 13px;
}


.calendar .events .dt {
  color: var(--white);
  background-color: var(--black);
  padding: 2px 10px;
  border-radius: 5px;
  margin: 5px 10px;
}


.calendar .events .dt h3 {
  font-weight: 600;
  color: var(--white);
}

.calendar .events .dt p {
  color: var(--aside-text);
}

.calendar .events .pln {
  padding-left: 10px;
  color: white;
}

.calendar .events .pln h3 {
  font-weight: 500;
  font-size: 16px;
}

.calendar .events .pln p {
  font-size: 14px;
  padding: 5px 0px;
  color: rgb(191, 254, 254);
}

/* footer */
footer {
  background-color: var(--gray-900);
  border: 1px solid var(--bor-grey);
  color: var(--white);
}

footer h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

footer span {
  color: var(--primary);
}

/* cc11 */
#cc11 {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.c-area11 .d-info{
  width: 100%;
}
.c-area11 .d-info h3{
  font-size: 16px;
  font-weight: 400;
}
.c-area11 .d-info .d-in{
  padding: 10px 0;
  color: var(--white);

}

.c-area11 .d-info .d-in .left{
  position: relative;
}

.c-area11 .d-info .d-in .dots{
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: var(--success);
}

.c-area11 .d-info :nth-child(2).d-in .dots{
  background-color: var(--orange);
}

.c-area11 .d-info :nth-child(3).d-in .dots{
  background-color: var(--primary);
}

.c-area11 .d-info :nth-child(4).d-in .dots{
  background-color: var(--danger);
}

.c-area11 {
  padding: 20px;
}

.c-area11 h3 {
  color: var(--white);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-left: 10px;
}